{
  "env": {
    "node": true
  },
  "rules": {
    "strict": 2,
    "curly": 2,
    "indent": [2, 2],
    "no-unused-vars": [2, {"args": "none"}],
    "quotes": [2, "single"],
    "no-use-before-define": 2,
    "block-scoped-var": 2,
    // Allow lower_snake_case for some options (esp. in the API)
    "camelcase": 0,
    // Allow dangling underscore syntax to denote private functions/properties
    "no-underscore-dangle": 0,
    // Allow any style of comma dangling in object/array definition
    "comma-dangle": 0
  }
}
